<!DOCTYPE html>

<html>
    <head>
        <title>Registro de usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../MDB-Free/css/bootstrap.min.css">
        <link rel="stylesheet" href="../MDB-Free/css/mdb.min.css">
        <link rel="stylesheet" href="../fontawesome/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=KoHo|Poppins:300" rel="stylesheet">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
       
        <div class="loadNavbar"></div>
        
        
        <div class="container mt-5">
            <div class="my-5 mx-auto w-75 ">
                <div class="mt-5">
                    <form style="margin-top: 6em;" action="" class="text-center border border-light p-5">
                        <p class="h4 mb-4">Registrate ahora</p>
                        <div class="form-row mb-4">
                            <div class="col">
                                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Ingresa tu nombre">
                            </div>
                            <div class="col">
                                <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Ingresa tu apellido">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Correo ">
                        </div>
                        <div class="form-group">
                            <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Contraseña" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                        </div>
                        <div class="form-group">
                            <small class="text-left form-text text-muted">Fecha de nacimiento</small>
                            <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Número de celular" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                            <small id="defaultRegisterFormPhoneHelpBlock" class="text-left form-text text-muted mb-4">
                                Número de celular opcional
                            </small>
                        </div>
                        <div class="d-flex justify-content-start custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                            <label class="custom-control-label" for="defaultRegisterFormNewsletter">
                                <small>Acepto los términos y condiciones</small>
                            </label>
                        </div>
                        <!-- Sign up button -->
                        <button class="btn btn-info my-4 btn-block" type="submit">Registrar</button>
                        <hr>
                        <small class="text-center text-secondary">Todos los derechos reservados</small>
                        

                    </form>
                </div>
                <!-- Default form register -->
            </div>
        </div>
        
        <script src="../MDB-Free/js/jquery-3.3.1.min.js"></script>
        <script src="../MDB-Free/js/popper.min.js"></script>
        <script src="../MDB-Free/js/bootstrap.min.js"></script>
        <script src="../MDB-Free/js/mdb.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/routes.js"></script>
    </body>
</html>
