

<!--Jumbotron-->
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card card-image" style="background-image: url('./assets/img/background.jpg'); background-attachment: fixed; background-repeat: no-repeat; height: 100vh;">
            <div class="text-white text-center py-5 px-4">
                <div style="position: relative; margin: auto; top: 290px;" class="py-5">
                    <h2 class="card-title mt-3 mb-4 font-bold">Plasma tu historia</h2>
                    <h3 class="card-title mt-3 mb-3">en una foto</h3>
                    <p class="mt-4">Icon down</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Jumbotron-->

<div id="contenedorMision" class="container-fluid">
    <div class="row px-3">
        <div class="col-md-12">
            <div class="mt-5 px-3 text-center">
                <h3 class="title">Un lugar para los amantes a la fotografía</h3>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur lit</p>
            </div>
        </div>
    </div>

    <div class="mx-auto w-50 mt-5">
        <hr class="deep-orange darken-1">
    </div>

    <!-- Características-->
    <div style="z-index: -1;" class="row mt-5 py-4">
        <div class="col-md-4">
            <div class="w-100 mx-auto">
                <div class="text-center">
                    <i class="fas fa-pen-nib fa-5x"></i>
                </div>
                <h4 class="text-center title h4-responsive mt-2">Crea tu trabajo</h4>
                <p class="text-center lead py-1 px-5">Inicia el proyecto fotográfico de tus sueños</p>
                <p class="text-center lead px-5 font-weight-bold">¡Hazlo conocer!</p>
            </div>

        </div>
        <div class="col-md-4">
            <div class="w-100 mx-auto">
                <div class="text-center">
                    <i class="fas fa-heart fa-5x"></i>
                </div>
                <h4 class="text-center title h4-responsive mt-2">Califica</h4>
                <p class="text-center lead py-1 px-5">Descubre y valora los proyectos</p>
                <p class="text-center lead px-5 font-weight-bold">Que te enamoren</p>
            </div>

        </div>
        <div class="col-md-4">
            <div class="w-100 mx-auto">
                <div class="text-center">
                    <i class="fas fa-users fa-5x"></i>
                </div>
                <h4 class="text-center title h4-responsive mt-2">Social</h4>
                <p class="text-center lead py-1 px-5">Conoce gente con tu misma pasión</p>
                <p class="text-center lead px-5">¡Entra ahora, te estamos esperando!</p>
            </div>

        </div>

    </div>
    <!-- #/Características-->
</div>


<div class="my-5">
    <div class="bg-row-fixed my-5">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5 pt-3">
                    <h2 style="font-size: 2.5rem;" id="changeColor" class="title text-center text-white">Pensamos en tu inspiración</h2>
                    <div class="px-5">
                        <p style="font-size: 1.5rem;" class="lead title text-center text-white">y por eso creamos un lugar para tus</p>    
                        <p class="lead title text-center text-info" style="font-size: 2.2rem;">Proyectos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 mb-5 pb-5">
    <div class="row">
        <div class="col">
            <p class="text-center display-4">Espacio para la libre inspiración</p>
        </div>
    </div>
</div>